### All ###
scripts/db/Dump

### Protobuffer ###
sources/lib/JvMessages/src/main/java/org/foomaa/jvchat/messages/*_pb.java

### Maven ###
#target/
jvchat-maven/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
.gradle
#build/
jvchat-gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
