<configuration>

    <springProperty name="LOG_FILE" source="logging.file.name"/>

    <conversionRule conversionWord="levelColor" converterClass="org.foomaa.jvchat.logger.LevelColorConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy} | %d{HH:mm:ss z} | [%levelColor] | %logger{36}:%line | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE:-application.log}</file>
        <encoder>
            <pattern>%d{dd.MM.yyyy} | %d{HH:mm:ss z} | [%-5level] | %logger{36}:%line | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.foomaa.jvchat" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="OFF"/>
</configuration>
